[submodule "thirdparty/basalt-headers"]
	path = thirdparty/basalt-headers
	url = https://github.com/powei-lin/basalt-headers-fork.git
[submodule "thirdparty/ceres-solver"]
	path = thirdparty/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "thirdparty/Pangolin"]
	path = thirdparty/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
